.loginheader
{
    background: transparent url(../images/logo.png) no-repeat;
    background-size: contain;
    height:85px;
}

.fbheader
{
    background: transparent url(../images/fb_header.png) no-repeat;
    background-size: contain;
    height:44px;
}
