
.WizardContainer {
    width: 758px;
    margin-top: 40px;
    height: 50px;
}

#triangles {
    width: 0;
    height: 0;
    border-color: #444E59 #444E59 #444E59 #F1C550; /*top, right, bottom, and left border*/
    border-style: solid;
    border-width: 25px; /*width of each border*/
    margin-left: 0px;
    margin-bottom: 50px;
    float: left;
}

.newcostumer a {
    color: rgb(14, 14, 14);
}

.newcostumer {
    color: rgb(14, 14, 14);
    height: 37px;
    width: 215px;
    background: #F1C550;
    float: left;
    padding-top: 13px;
    padding-left: 20px;
}

.RegContainer {
    margin-left: 350px;
    width: 758px;
}

.unselectedOne {
    height: 37px;
    width: 234px;
    background: #444E59;
    float: left;
    padding-top: 13px;
}

#MainContainer {
    margin-top: 20px;
    width: 400px;
    height: 505px;
    float: left;
    background-color: rgb(14, 14, 14);
}

.BG-Color {
    background-color: rgb(14, 14, 14);
}

.Reg-img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 1px solid gray;
}

.Reg-Chnl-PH {
    width: 215px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.Chnl-Dstbtn {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    width: 313px;
    height: 483px;
}
.listview-item1 {
    position: relative;
    display: inline-block;
    width: 94.6%;
    min-height: 24px;
    padding: 5px;
    margin: 1px 0px;
    overflow: hidden;
    *overflow: visible;
    /*color: #ffffff;*/
    text-shadow: none;
    vertical-align: top;
    border: solid 1px transparent;
    background-color: #141519;
    zoom: 1;
}

    .listview-item1:hover {
        cursor: pointer;
        border: solid 1px #225a68;
        background-color: #b58913;
    }
/*.second-Div {
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px 10px 10px 10px;
        width: 313px;
        height: 483px;
        background-color: rgb(14, 14, 14);
    }*/

