<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
	<title>Sign Up</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link href='/images/R.png' rel='icon' type='image/ico' />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/stylesheets/font-awesome.css" rel="stylesheet" />
	<link href="/stylesheets/main.css" rel="stylesheet"/>
	<link href="/stylesheets/_bootmetro.css" rel="stylesheet"/>
	<link href="/stylesheets/bootmetro.css" rel="stylesheet"/>
	<link href="/stylesheets/bootmetro-icons.css" rel="stylesheet"/>
	<link href="/stylesheets/bootmetro-responsive.css" rel="stylesheet"/>
	<link href="/stylesheets/registration.css" rel="stylesheet"/>
	<link href="/stylesheets/rrweb.css" rel="stylesheet"/>

	<script src="/javascripts/modernizr-2.6.2-respond-1.1.0.js"></script>
	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/angular-resource.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body ng-app='rrWebsiteApp' style="overflow-x: scroll; overflow-y: scroll;" >
	<div class="wrapper">
		<div class="ng-scope" ng-controller="SignUpCtrl">
			<div class='container ng-scope'>
				<div class='span8 offset2' style="padding-top: 130px">
					<a href="/"><div class="logo" style="margin-left: 10%; margin-right: 10%"></div></a>
					<div class='span6' style="padding-top: 20px; width: 600px;">
						<div class="form-horizontal" style="vertical-align: left; padding-left: 20px;">
							<h3 style="margin-left: 24%; padding-top: 20px; padding-bottom: 20px;" class="dark-grey">Registration</h3>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Name</label>
								<input type="text" name="first_name" id="FirstName" onkeyup="errorCheck(id)" onfocus="errorCheck(id)" style="margin-right: 2px;" placeholder="First" ng-model="first_name"</input>
								<input type="text" name="last_name" id="LastName" onkeyup="errorCheck(id)" onfocus="errorCheck(id)" placeholder="Last" ng-model="last_name"></input>
								<span role="alert" class="errormsg" id="errormsg_0_Name"></span>
							</div>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Username</label>
								<input type="text" style='width: 72%' name="username" id="Username" onkeyup="errorCheck(id)" onclick="errorCheck(id)" placeholder="Username" ng-model="username"></input>
								<span role="alert" class="errormsg" id="errormsg_0_Username"></span>
							</div>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Password</label>
								<input type='password' name="password" id='password' style="margin-right: 2px;" placeholder='Password' ng-model="password"></input>
								<input type='password' name="password_repeat" id='password_repeat' onkeyup="checkPasswords(password, password_repeat)" placeholder='Repeat Password' ng-model="password_repeat"></input>
								<span role="alert" class="errormsg" id="errormsg_0_Passwords"></span>
							</div>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Email Address</label>
								<input type="text" name="email" id="Email" onkeyup="errorCheck(id)" onclick="errorCheck(id)" style="width: 72%;" ng-model="email" placeholder="Email Address"></input>
								<span role="alert" class="errormsg" id="errormsg_0_Email"></span>
							</div>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Birthday</label>
								<fieldset style="width: 73%">
									<span id="BirthMonthHolder">
										<select class="styled-select slate" style="width: 47%;" ng-model="birth_month" id="BirthMonth" onkeyup="errorCheck(id)" onclick="errorCheck(id)">
											<option value="">Month</option>
											<option value="01" >January</option>
											<option value="02" >February</option>
											<option value="03" >March</option>
											<option value="04" >April</option>
											<option value="05" >May</option>
											<option value="06" >June</option>
											<option value="07" >July</option>
											<option value="08" >August</option>
											<option value="09" >September</option>
											<option value="10" >October</option>
											<option value="11" >November</option>
											<option value="12" >December</option>
										</select>
									</span>
									<input type="text" style="width: 20%" maxlength="2" id="BirthDay" onkeyup="errorCheck(id)" onclick="errorCheck(id)" ng-model="birth_day" placeholder="Day"></input>
									<input type="text" style="width: 30%" maxlength="4" id="BirthYear" onkeyup="errorCheck(id)" onclick="errorCheck(id)" ng-model="birth_year" placeholder="Year"></input>
								</fieldset>
								<span role="alert" class="errormsg" id="errormsg_0_Birth"></span>
							</div>
							<div style="margin-bottom: 1%" class="form-group col-lg-12">
								<label class="ng-binding">Gender</label>
								<select class="styled-select slate" style="width: 72%" ng-model="gender" name="Gender" id="Gender" onkeyup="errorCheck(id)" onclick="errorCheck(id)">
									<option value="">I am...</option>
									<option value="FEMALE">Female</option>
									<option value="MALE">Male</option>
								</select>
								<span role="alert" class="errormsg" id="errormsg_0_Gender"></span>
							</div>
							<div style="margin-top: 35px; width: 72%">
								<div style="text-align: center;">
									<button class="btnww-signup" ng-click="signUpNewUser()" style="margin-bottom: 20px; text-align: center; font-style: normal; font-size: 20px;" type="submit">Sign up</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="push"></div>
	</div>
	<div class="footer">
		<ul>
			<li>RoadRunner.net</li>
			<li>Hayden Smith</li>
			<li>Jonathan Belyeu</li>
			<li>Artem Golotin</li>
		</ul>
	</div>
	<script type="text/javascript">
		var inputEmptyErrorMessage = 'You can\x27t leave this field empty.';
		var passwordsDontMatch = 'Passwords don\x27t match';
		var passwordsMatch = '<strong>Passwords match!</strong>';

		function checkPasswords(pass1, pass2) {
			this.error = document.getElementById('errormsg_0_Passwords');
			if (pass1.value != pass2.value) {
				this.error.style.color = "red";
				this.error.innerHTML = passwordsDontMatch;
			}
			else {
				this.error.style.color = "green";
				this.error.innerHTML = passwordsMatch;
			}
		}

		function errorCheck(id) {
			var val =  document.getElementById(id).value;
			if (id.indexOf("Name") > -1) id = "Name";
			if (id.indexOf("Birth") > -1) id = "Birth";
			this.error = document.getElementById('errormsg_0_' + id);
			if (val.length == 0) {
				this.error.innerHTML = inputEmptyErrorMessage;
			}
			else {
				this.error.innerHTML = "";
			}
		};
	</script>
</body>
</html>
